@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}

a:hover{
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet-active{
  background: #F79918 !important;
}

.sectionCover{
  background-image: url('https://images.unsplash.com/photo-1519552928909-67ca7aef9265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
}

.sectionCover_dark{
  background-image: url('https://images.unsplash.com/photo-1504194782011-e78a3bf9d300?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') !important;
}

.s{
  transform: translateZ(0px);
}

.load_1{
  stroke: black; stroke-width: 1; transform-origin: 33.47285199% 32.89218482%; animation-duration: 3s; fill: var(--tw-gradient-from)
}
.load_2{
  stroke: black; stroke-width: 1; transform-origin: 74.01464945% 74.46662863%; animation-duration: 4s; animation-direction: reverse; fill: var(--tw-gradient-from);
}
.load_3{
  stroke: black;
  stroke-width: 1;
  transform-origin: 78.02581095% 16.12093553%;
  animation-duration: 3.5s;
  animation-direction: reverse;
  fill: var(--tw-gradient-from);
}

.img{
  margin: auto;
  /* width: 150px;
  height: 150px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-size: cover;
  
}

.bg{
  background: #50577A !important;
  width: 200px !important;
}

.bg_l{
  background: #fff !important;
  width: 200px !important;
}

[x-cloak] {
  display: none;
}

